@model DataContext.EDM.User

@{
    ViewBag.Title = "Новый пользователь";
    Layout = "~/Areas/ControlPanel/Views/Shared/AdminLayout.cshtml";
}

<h3 class="page-title">
    @ViewBag.Title
</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Id)

        <input type="hidden" value="@ViewBag.returnUrl" name="returnUrl" />
        <input type="hidden" value="1" name="IdRole" />

        <div class="form-group">
            <label class="control-label col-md-2">Імя</label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Gароль</label>
            <div class="col-md-7">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Роль</label>
            <div class="col-md-7">
                <select name="IdRole" class="form-control">
                    <option value="1">Админ</option>
                    <option value="2">Клиент</option>
                </select>
            </div>
        </div>




        @*@if (ArtPortfolio.Models.FormsAuthenticationService.User.IsInRole("admin"))
            {
                <div class="form-group">
                    <label class="control-label col-md-2">Виберіть роль</label>
                    <div class="col-md-7">
                        <select name="IdRole" class="form-control">
                            @foreach (var item in ViewBag.Roles)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

            }*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </div>
    </div>
}